
<div class="container">
    <p>Your Name</p>
    <div>
    <div class="row  col-md-5" style="white-space: pre;">
<input type="text"  class="form-control" name="first" required>
<label>First Name</label>
    </div>
<div class="col-md-1 row "></div>

    <div class="row col-md-5" style="white-space: pre;">
<input type="text"  class="form-control" name="last" required>
<label>Last Name</label>
    </div>
<div class="row col-md-11" style="white-space: pre;width:103%;">
            <label>Email</label>
            <input type="email"  class="form-control" name="email" required>
                </div>
</div>

</div>